extends ../layout

block content
  main.articles-category
    h1=category.label
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          include ../partials/themes-item
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      include ../partials/preview-list
